---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YT_API_KEY>&maxResults=50&part=snippet,status&playlistId=PLcQuLA5Ps-q5ceV_jIX5p9bL8X7zm2A0C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Y3xTLFF3RLtHXX85JBgzzgp2Enw/yJlMsxPoDjjd2lrZ7WBdey5mqEY"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistItemListResponse",
         "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/yJlMsxPoDjjd2lrZ7WBdey5mqEY\"",
         "pageInfo": {
          "totalResults": 4,
          "resultsPerPage": 50
         },
         "items": [
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/zR1jaFgC--PePu8X54xukHDOD0o\"",
           "id": "PL6d1wTE0FZeCWM5kTs_K13GNWIuc5gDrLShcBl3gmbhA",
           "snippet": {
            "publishedAt": "2015-07-02T13:51:07.000Z",
            "channelId": "UC0gH1TcTcXyHAt6Q4eaaEdw",
            "title": "The Story So Far - \"Quicksand\"",
            "description": "http://itunes.apple.com/us/album/under-soil-and-dirt/id443503421",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/h3L-xm7bs34/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/h3L-xm7bs34/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/h3L-xm7bs34/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/h3L-xm7bs34/sddefault.jpg",
              "width": 640,
              "height": 480
             }
            },
            "channelTitle": "Yuri Koval'ov",
            "playlistId": "PLcQuLA5Ps-q5ceV_jIX5p9bL8X7zm2A0C",
            "position": 0,
            "resourceId": {
             "kind": "youtube#video",
             "videoId": "h3L-xm7bs34"
            }
           },
           "status": {
            "privacyStatus": "public"
           }
          },
          {
           "kind": "youtube#playlistItem",
           "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/8I9WuiRS2heFLsK5HxIFOViO33A\"",
           "id": "PL6d1wTE0FZeCWM5kTs_K13CQh-lVZh3Ji-kwE_GvHs5g",
           "snippet": {
            "publishedAt": "2015-07-02T13:51:08.000Z",
            "channelId": "UC0gH1TcTcXyHAt6Q4eaaEdw",
            "title": "The Story So Far - 680 South",
            "description": "",
            "thumbnails": {
             "def[...]
