---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?key=<YT_API_KEY>&maxResults=50&mine=true&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Y3xTLFF3RLtHXX85JBgzzgp2Enw/px5jGpGvIMG-kQNrkfwjCPyvKqM"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#channelListResponse",
         "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/px5jGpGvIMG-kQNrkfwjCPyvKqM\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#channel",
           "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/UM0n9tKtd8ZLYGKjtYpWvRhuRtM\"",
           "id": "UC0gH1TcTcXyHAt6Q4eaaEdw",
           "snippet": {
            "title": "Yuri Koval'ov",
            "description": "",
            "publishedAt": "2006-02-15T10:53:08.000Z",
            "thumbnails": {
             "default": {
              "url": "https://yt3.ggpht.com/-iultNzRwxBY/AAAAAAAAAAI/AAAAAAAAAAA/TD71co895vU/s88-c-k-no/photo.jpg"
             },
             "medium": {
              "url": "https://yt3.ggpht.com/-iultNzRwxBY/AAAAAAAAAAI/AAAAAAAAAAA/TD71co895vU/s240-c-k-no/photo.jpg"
             },
             "high": {
              "url": "https://yt3.ggpht.com/-iultNzRwxBY/AAAAAAAAAAI/AAAAAAAAAAA/TD71co895vU/s240-c-k-no/photo.jpg"
             }
            },
            "localized": {
             "title": "Yuri Koval'ov",
             "description": ""
            }
           },
           "status": {
            "privacyStatus": "public",
            "isLinked": true,
            "longUploadsStatus": "eligible"
           }
          }
         ]
        }
  recorded_at: Thu, 02 Jul 2015 13:51:06 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlists?key=<YT_API_KEY>&part=snippet,status
    body:
      encoding: UTF-8
      string: '{"snippet":{"title":"Test title"},"status":{"privacyStatus":"public"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlist",
         "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/5qxHEIbQlV0SlA9ijwHkOp0FkYQ\"",
         "id": "PLcQuLA5Ps-q5ceV_jIX5p9bL8X7zm2A0C",
         "snippet": {
          "publishedAt": "2015-07-02T13:51:06.000Z",
          "channelId": "UC0gH1TcTcXyHAt6Q4eaaEdw",
          "title": "Test title",
          "description": "",
          "thumbnails": {
           "default": {
            "url": "https://i.ytimg.com/vi/default.jpg"
           },
           "medium": {
            "url": "https://i.ytimg.com/vi/default.jpg"
           },
           "high": {
            "url": "https://i.ytimg.com/vi/default.jpg"
           }
          },
          "channelTitle": "Yuri Koval'ov",
          "localized": {
           "title": "Test title",
           "description": ""
          }
         },
         "status": {
          "privacyStatus": "public"
         }
        }
  recorded_at: Thu, 02 Jul 2015 13:51:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YT_API_KEY>&maxResults=50&part=snippet,status&playlistId=PLcQuLA5Ps-q5ceV_jIX5p9bL8X7zm2A0C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Y3xTLFF3RLtHXX85JBgzzgp2Enw/FZmJdUeaJUDrN9TmhFtzuywJmWo"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistItemListResponse",
         "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/FZmJdUeaJUDrN9TmhFtzuywJmWo\"",
         "pageInfo": {
          "totalResults": 0,
          "resultsPerPage": 50
         },
         "items": []
        }
  recorded_at: Thu, 02 Jul 2015 13:51:07 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=<YT_API_KEY>&part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"playlistId":"PLcQuLA5Ps-q5ceV_jIX5p9bL8X7zm2A0C","resourceId":{"kind":"youtube#video","videoId":"h3L-xm7bs34"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistItem",
         "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/HapyeMuYtuYJo8LqfSpT-foK6wM\"",
         "id": "PL6d1wTE0FZeCWM5kTs_K13GNWIuc5gDrLShcBl3gmbhA",
         "snippet": {
          "publishedAt": "2015-07-02T13:51:07.000Z",
          "channelId": "UC0gH1TcTcXyHAt6Q4eaaEdw",
          "title": "The Story So Far - \"Quicksand\"",
          "description": "http://itunes.apple.com/us/album/under-soil-and-dirt/id443503421",
          "thumbnails": {
           "default": {
            "url": "https://i.ytimg.com/vi/h3L-xm7bs34/default.jpg",
            "width": 120,
            "height": 90
           },
           "medium": {
            "url": "https://i.ytimg.com/vi/h3L-xm7bs34/mqdefault.jpg",
            "width": 320,
            "height": 180
           },
           "high": {
            "url": "https://i.ytimg.com/vi/h3L-xm7bs34/hqdefault.jpg",
            "width": 480,
            "height": 360
           },
           "standard": {
            "url": "https://i.ytimg.com/vi/h3L-xm7bs34/sddefault.jpg",
            "width": 640,
            "height": 480
           }
          },
          "channelTitle": "Yuri Koval'ov",
          "playlistId": "PLcQuLA5Ps-q5ceV_jIX5p9bL8X7zm2A0C",
          "resourceId": {
           "kind": "youtube#video",
           "videoId": "h3L-xm7bs34"
          }
         }
        }
  recorded_at: Thu, 02 Jul 2015 13:51:08 GMT
[...]
