---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLcQuLA5Ps-q5ceV_jIX5p9bL8X7zm2A0C&key=<YT_API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Y3xTLFF3RLtHXX85JBgzzgp2Enw/26y_8HRWx_FL8vJi4gO4m0JW9HQ"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#playlistListResponse",
         "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/26y_8HRWx_FL8vJi4gO4m0JW9HQ\"",
         "pageInfo": {
          "totalResults": 1,
          "resultsPerPage": 1
         },
         "items": [
          {
           "kind": "youtube#playlist",
           "etag": "\"Y3xTLFF3RLtHXX85JBgzzgp2Enw/sNnPtxvayzumTHPsQBhJ7FTLneU\"",
           "id": "PLcQuLA5Ps-q5ceV_jIX5p9bL8X7zm2A0C",
           "snippet": {
            "publishedAt": "2015-07-02T13:51:06.000Z",
            "channelId": "UC0gH1TcTcXyHAt6Q4eaaEdw",
            "title": "Test title",
            "description": "",
            "thumbnails": {
             "default": {
              "url": "https://i.ytimg.com/vi/h3L-xm7bs34/default.jpg",
              "width": 120,
              "height": 90
             },
             "medium": {
              "url": "https://i.ytimg.com/vi/h3L-xm7bs34/mqdefault.jpg",
              "width": 320,
              "height": 180
             },
             "high": {
              "url": "https://i.ytimg.com/vi/h3L-xm7bs34/hqdefault.jpg",
              "width": 480,
              "height": 360
             },
             "standard": {
              "url": "https://i.ytimg.com/vi/h3L-xm7bs34/sddefault.jpg",
              "width": 640,
              "height": 480
             }
            },
            "channelTitle": "Yuri Koval'ov",
            "localized": {
             "title": "Test title",
             "description": ""
            }
           }
          }
         ]
        }
  recorded_at: Thu, 02 Jul 2015 14:12:51 GMT
recorded_with: VCR 2.9.3
