---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/oauth2/v2/userinfo?key=<YT_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        {
         "id": "115790085790434106631",
         "email": "yuri.koval@gmail.com",
         "verified_email": true,
         "name": "Yuri Koval'ov",
         "given_name": "Yuri",
         "family_name": "Koval'ov",
         "link": "https://plus.google.com/+YuriKovalov",
         "picture": "https://lh5.googleusercontent.com/-iultNzRwxBY/AAAAAAAAAAI/AAAAAAAABEo/ukWdtBTzJoM/photo.jpg"
        }
  recorded_at: Thu, 02 Jul 2015 14:09:31 GMT
recorded_with: VCR 2.9.3
