---
http_interactions:
- request:
    method: post
    uri: https://ssl.reddit.com/api/login
    body:
      encoding: UTF-8
      string: api_type=json&passwd=<REDDIT_PASSWORD>&user=<REDDIT_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"json": {"errors": [], "data": {"need_https": false, "modhash": "ekqvguswxo05a7ff673166226079c4a80b0a6a97993102ecc6",
        "cookie": "40926976,2015-06-29T20:20:53,6502451461bb093da2f380dfea360da497212ac6"}}}'
  recorded_at: Tue, 30 Jun 2015 03:20:53 GMT
- request:
    method: get
    uri: http://www.reddit.com/user/<REDDIT_USERNAME>/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - ekqvguswxo05a7ff673166226079c4a80b0a6a97993102ecc6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '298'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Reset:
      - '547'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=DquF2%2FnQAK8K9AjTfUDeURLQXp2TDqbtnZkX6%2BIh5nd6BAGT5TVLEAvhUsVxpynILSeIXdEIKes%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "t2", "data": {"has_mail": true, "name": "<REDDIT_USERNAME>",
        "is_friend": false, "created": 1435371552.0, "hide_from_robots": false, "gold_creddits":
        0, "modhash": "0ve5t23kgge4a4b54196764497667ccf58e9da7202805f9537", "created_utc":
        1435367952.0, "has_mod_mail": false, "link_karma": 1, "comment_karma": 0,
        "over_18": false, "is_gold": false, "is_mod": false, "gold_expiration": null,
        "has_verified_email": false, "id": "od7gg", "inbox_count": 1}}'
  recorded_at: Tue, 30 Jun 2015 03:20:54 GMT
- request:
    method: get
    uri: http://www.reddit.com/comments/3batbp.json?depth=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - ekqvguswxo05a7ff673166226079c4a80b0a6a97993102ecc6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '297'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Reset:
      - '546'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=FeAjRTRr%2FLxGFw6gYGl1Z1ha%2BdSW7TgDw2JDGN7LARDnKINcqr5MnJB3e9s9AHAFDkl%2FWeQJ20Lt258YHOs6QRbtpcMuYLfG
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '[{"kind": "Listing", "data": {"modhash": "ha3migd23vb2996ced6c61c1d066165d72aef6f603a3d620af",
        "children": [{"kind": "t3", "data": {"domain": "youtube.com", "banned_by":
        null, "media_embed": {"content": "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F_Kbnr9fsS7s%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D_Kbnr9fsS7s&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F_Kbnr9fsS7s%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"450\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 600, "scrolling": false, "height": 450}, "subreddit": "listentothis",
        "selftext_html": null, "selftext": "", "likes": null, "suggested_sort": null,
        "user_reports": [], "secure_media": {"oembed": {"provider_url": "http://www.youtube.com/",
        "description": "Title: \"High Regard\" Band: The Story So Far Album: Under
        Soil and Dirt Barter and trade always passive aggressive In spite of who you
        say you are Smother my name under soil &amp; dirt In the earth Widen the distance
        apart Fuck an apology, I''m not sorry for anything I''ve", "title": "The Story
        So Far - High Regard", "url": "http://www.youtube.com/watch?v=_Kbnr9fsS7s",
        "type": "video", "author_name": "PopPunkParadise", "height": 450, "width":
        600, "html": "&lt;iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F_Kbnr9fsS7s%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D_Kbnr9fsS7s&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F_Kbnr9fsS7s%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"450\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "thumbnail_width": 480, "version": "1.0", "provider_name": "YouTube", "thumbnail_url":
        "https://i.embed.ly/1/image?url=https%3A%2F%2Fi.ytimg.com%2Fvi%2F_Kbnr9fsS7s%2Fhqdefault.jpg&amp;key=b1e305db91cf4aa5a86b732cc9fffceb",
        "thumbnail_height": 360, "author_url": "http://www.youtube.com/user/PopPunkParadise"},
        "type": "youtube.com"}, "link_flair_text": "Garage Punk", "id": "3batbp",
        "from_kind": null, "gilded": 0, "archived": false, "clicked": false, "report_reasons":
        null, "author": "cicispizzaisyummy", "media": {"oembed": {"provider_url":
        "http://www.youtube.com/", "description": "Title: \"High Regard\" Band: The
        Story So Far Album: Under Soil and Dirt Barter and trade always passive aggressive
        In spite of who you say you are Smother my name under soil &amp; dirt In the
        earth Widen the distance apart Fuck an apology, I''m not sorry for anything
        I''ve", "title": "The Story So Far - High Regard", "url": "http://www.youtube.com/watch?v=_Kbnr9fsS7s",
        "type": "video", "author_name": "PopPunkParadise", "height": 450, "width":
        600, "html": "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F_Kbnr9fsS7s%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D_Kbnr9fsS7s&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F_Kbnr9fsS7s%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"450\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "thumbnail_width": 480, "version": "1.0", "provider_name": "YouTube", "thumbnail_url":
        "https://i.ytimg.com/vi/_Kbnr9fsS7s/hqdefault.jpg", "thumbnail_height": 360,
        "author_url": "http://www.youtube.com/user/PopPunkParadise"}, "type": "youtube.com"},
        "name": "t3_3batbp", "score": 334, "approved_by": null, "over_18": false,
        "hidden": false, "preview": {"images": [{"source": {"url": "https://i.redditmedia.com/113iBjyjs6i2e4hR2iBVY_wR5yKf6x49GHop4wt2Mp0.jpg?s=12087c54d287a3c8b98349676a05b9c3",
        "width": 480, "height": 360}, "resolutions": [{"url": "https://i.redditmedia.com/113iBjyjs6i2e4hR2iBVY_wR5yKf6x49GHop4wt2Mp0.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=108&amp;s=baf4538d6c1251bda76d7b102cad88c1",
        "width": 108, "height": 81}, {"url": "https://i.redditmedia.com/113iBjyjs6i2e4hR2iBVY_wR5yKf6x49GHop4wt2Mp0.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=216&amp;s=894531999cfbb636e3c50beca62b1074",
        "width": 216, "height": 162}, {"url": "https://i.redditmedia.com/113iBjyjs6i2e4hR2iBVY_wR5yKf6x49GHop4wt2Mp0.jpg?fit=crop&amp;crop=faces%2Centropy&amp;arh=2&amp;w=320&amp;s=3e7793cc75d1d424d1e6a1fcb0fcf1f0",
        "width": 320, "height": 240}], "variants": {}, "id": "8uXB6lCI_oNA4G91eydlIV5i35MG46TltbMOm5EO7GM"}]},
        "thumbnail": "http://b.thumbs.redditmedia.com/gXy5LrDK8KPTzlkDF8COYrDSnvQwiiJFuYMS0p88IUA.jpg",
        "subreddit_id": "t5_2qxzy", "edited": false, "link_flair_css_class": "garagepunk",
        "author_flair_css_class": null, "downs": 0, "mod_reports": [], "secure_media_embed":
        {"content": "&lt;iframe class=\"embedly-embed\" src=\"https://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2F_Kbnr9fsS7s%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3D_Kbnr9fsS7s&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2F_Kbnr9fsS7s%2Fhqdefault.jpg&amp;key=2aa3c4d5f3de4f5b9120b660ad850dc9&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"450\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 600, "scrolling": false, "height": 450}, "saved": false, "removal_reason":
        null, "post_hint": "rich:video", "from": null, "is_self": false, "from_id":
        null, "permalink": "/r/listentothis/comments/3batbp/the_story_so_far_high_regard_pop_punk_2011/",
        "stickied": false, "created": 1435438304.0, "url": "https://www.youtube.com/watch?v=_Kbnr9fsS7s",
        "author_flair_text": null, "title": "The Story So Far - High Regard [pop punk]
        (2011)", "created_utc": 1435409504.0, "ups": 334, "upvote_ratio": 0.89, "num_comments":
        45, "visited": false, "num_reports": null, "distinguished": null}}], "after":
        null, "before": null}}, {"kind": "Listing", "data": {"modhash": "ha3migd23vb2996ced6c61c1d066165d72aef6f603a3d620af",
        "children": [{"kind": "t1", "data": {"subreddit_id": "t5_2qxzy", "banned_by":
        null, "removal_reason": null, "link_id": "t3_3batbp", "likes": null, "replies":
        {"kind": "Listing", "data": {"modhash": "ha3migd23vb2996ced6c61c1d066165d72aef6f603a3d620af",
        "children": [{"kind": "t1", "data": {"subreddit_id": "t5_2qxzy", "banned_by":
        null, "removal_reason": null, "link_id": "t3_3batbp", "likes": null, "replies":
        {"kind": "Listing", "data": {"modhash": "ha3migd23vb2996ced6c61c1d066165d72aef6f603a3d620af",
        "children": [{"kind": "t1", "data": {"subreddit_id": "t5_2qxzy", "banned_by":
        null, "removal_reason": null, "link_id": "t3_3batbp", "likes": null, "replies":
        "", "user_reports": [], "saved": false, "id": "csl6w8f", "gilded": 0, "archived":
        false, "report_reasons": null, "author": "limnusJosh", "parent_id": "t1_csl1ejd",
        "score": 2, "approved_by": null, "controversiality": 0, "body": "I was actually
        a bit insulted, because our music is way better produced and written than
        what the term implies. Same with TSSF.", "edited": false, "author_flair_css_class":
        null, "downs": 0, "body_html": "&lt;div class=\"md\"&gt;&lt;p&gt;I was actually
        a bit insulted, because our music is way better produced and written than
        what the term implies. Same with TSSF.&lt;/p&gt;\n&lt;/div&gt;", "subreddit":
        "listentothis", "score_hidden": false, "name": "t1_csl6w8f", "created": 1435473720.0,
        "author_flair_text": null, "created_utc": 1435470120.0, "distinguished": null,
        "mod_reports": [], "num_reports": null, "ups": 2}}], "after": null, "before":
        null}}, "user_reports": [], "saved": false, "id": "csl1ejd", "gilded": 0,
        "archived": false, "report_reasons": null, "author": "Lukewill", "parent_id":
        "t1_cskq28h", "score": 4, "approved_by": null, "controversiality": 0, "body":
        "Garage pu[...]
