---
http_interactions:
- request:
    method: post
    uri: https://ssl.reddit.com/api/login
    body:
      encoding: UTF-8
      string: api_type=json&passwd=<REDDIT_PASSWORD>&user=<REDDIT_USERNAME>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"json": {"errors": [], "data": {"need_https": false, "modhash": "manca2ot3x3779351633f1a2e972ec51bd37cf60f18a8c96d3",
        "cookie": "40926976,2015-06-29T20:20:51,d74c3a90dc380e9dfe029bae14fde53a700c056e"}}}'
  recorded_at: Tue, 30 Jun 2015 03:20:52 GMT
- request:
    method: get
    uri: http://www.reddit.com/user/<REDDIT_USERNAME>/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - manca2ot3x3779351633f1a2e972ec51bd37cf60f18a8c96d3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Reset:
      - '548'
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=ljOJh0spssMxFURIM5CBGuCu9lqueNkV1iODuDTMi%2FzqGwU6%2FB2ouqwvtGKbPSY3N7CFf11vz5s%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "t2", "data": {"has_mail": true, "name": "<REDDIT_USERNAME>",
        "is_friend": false, "created": 1435371552.0, "hide_from_robots": false, "gold_creddits":
        0, "modhash": "a7vm46kzque0724b4c60e274df08bd9167d45cbc0000b3c280", "created_utc":
        1435367952.0, "has_mod_mail": false, "link_karma": 1, "comment_karma": 0,
        "over_18": false, "is_gold": false, "is_mod": false, "gold_expiration": null,
        "has_verified_email": false, "id": "od7gg", "inbox_count": 1}}'
  recorded_at: Tue, 30 Jun 2015 03:20:52 GMT
recorded_with: VCR 2.9.3
